.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name 
          = current_user.name
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            =link_to "new_group_path" do
              = icon('far','edit')
      
          %li.side-header__box__menu__edit-user
            =link_to "/users/#{current_user.id}/edit" do
              = icon('fas','cog')
    .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    